*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("back.jpeg");
}
/* NAVIGATION BAR */
nav{
    width: 100%;
    height: 75px;
    background: #4c9b64;
}
nav ul{
    float:right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 79px;
}
nav a{
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 7px 10px;
}
nav a{
    font-size: 20px;
}
a.active,a:hover{
    border:none;
    color: #000000;
}
nav li a.active{
    color:black;
}
/* IMAGE OF ME */
.zoe{
    width:600px;
    height:600px;
    margin-bottom:25px;
    margin-left:1200px;
    margin-top:20px;

}
.intro_center{
    color: #fff;
    border:5px solid #fff;
    margin-left: 12%;
    margin-right: 70%;
    margin-bottom: 60px;
    line-height: 80px ;
    padding: 10px;
}
.hello{
    font-size: 23px;
}
.pic_bio{
    display: grid;

}
/* FOOTER */
.footer{
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    right: 0;
    padding: 0;
    /* position:absolute; */
 }